/*--------------------
General Style
---------------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: rgba(37,44,65,1);
    background: -moz-linear-gradient(top, rgba(37,44,65,1) 0%, rgba(37,44,65,1) 60%, rgba(221,223,230,1) 60%, rgba(221,223,230,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(37,44,65,1)), color-stop(60%, rgba(37,44,65,1)), color-stop(60%, rgba(221,223,230,1)), color-stop(100%, rgba(221,223,230,1)));
    background: -webkit-linear-gradient(top, rgba(37,44,65,1) 0%, rgba(37,44,65,1) 60%, rgba(221,223,230,1) 60%, rgba(221,223,230,1) 100%);
    background: -o-linear-gradient(top, rgba(37,44,65,1) 0%, rgba(37,44,65,1) 60%, rgba(221,223,230,1) 60%, rgba(221,223,230,1) 100%);
    background: -ms-linear-gradient(top, rgba(37,44,65,1) 0%, rgba(37,44,65,1) 60%, rgba(221,223,230,1) 60%, rgba(221,223,230,1) 100%);
    background: linear-gradient(to bottom, rgba(37,44,65,1) 0%, rgba(37,44,65,1) 60%, rgba(221,223,230,1) 60%, rgba(221,223,230,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252c41', endColorstr='#dddfe6', GradientType=0 );
}

.subject {
    font-family: 'Playfair Display', serif;
    color: rgba(255,255,255,0.02);
    font-size: 180px;
    font-size: 16vw;
    letter-spacing: -4px;
    line-height: 0.9;
    z-index: -1;
}

/*--------------------
Text
---------------------*/
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.4;
}

h1 {
    font-size: 42px;
    color: #6d819c;
    text-align: left;
}

h2 {
    font-size: 28px;
    letter-spacing: -2px;
    color: #6d819c;
    text-align: center;
    line-height: 2.8;
}

h3 {
    font-size: 16px;
    color: #dddfe6;
    letter-spacing: 1px;
    text-align: left;
}

h4 {
    font-size: 16px;
    color: #7495aa;
    letter-spacing: 1px;
    text-align: left;
    line-height: 2;
}

h5 {
    font-size: 11px;
    font-weight: 700;
    color: #c9d6de;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
}

h5 > span {
    margin-left: 87px;
}

h5.total {
    margin-top: 20px;
}

h6 {
    font-family: 'PT Mono';
    font-size: 18px;
    font-weight: 400;
    color: #f4f5f9;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
    line-height: 1.8;
}

h6 > span {
    margin-left: 64px;
}

a {
    color: #dc0b0b;
}

/*--------------------
Checkout
---------------------*/

.checkout {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 38%;
    left: 50%;
    background-color: #dddfe6;
    overflow: hidden;

    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;

    -webkit-box-shadow: 0 30px 48px rgba(37,44,65,0.32);
    -moz-box-shadow: 0 30px 48px rgba(37,44,65,0.32);
    box-shadow: 0 30px 48px rgba(37,44,65,0.32);
}

.order {
    width: 560px;
    height: 800px;
    padding: 0 30px;
    float: left;
    background-color: #f4f5f9;
    z-index: 1;

    -webkit-box-shadow: 0 15px 24px rgba(37,44,65,0.16);
    -moz-box-shadow: 0 15px 24px rgba(37,44,65,0.16);
    box-shadow: 0 15px 24px rgba(37,44,65,0.16);
}

ul.order-list {
    width: 100%;
    height: 205px;
    list-style: none;
    overflow-y: scroll;
    padding-right: 12px;
}

ul.order-list li {
    height: 60px;
    margin-left: -40px;
    overflow: hidden;
    border-bottom: 1px solid #e9ebf2;
}

ul.order-list li > img {
    width: 60px;
    height: 60px;
    float: left;
}

ul.order-list li > h4 {
    margin-top: 16px;
    line-height: 1;
    letter-spacing: 1px;
    text-align: right;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

ul.order-list li:hover > h4 {
    margin-top: 8px;
}

ul.order-list li > h5 {
    margin-top: 0px;
    text-align: right;
    display: none;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

ul.order-list li:hover > h5 {
    margin-top: 3px;
    display: block;
}

/*--------------------
Payment
---------------------*/


input[type=text] {
    height: 32px;
    position: relative;
    padding: 0px 10px 0px 6px;
    background-color: transparent;
    border: none;
    color: #000;
    font-family: 'PT Mono';
    font-size: 18px;
    font-weight: 400;
    z-index: 0;
}

input[type=text]:focus {
    outline: none;
}

::-webkit-input-placeholder { color: #dddfe6; }
:-moz-placeholder { color: #dddfe6; }
::-moz-placeholder {  color: #dddfe6; }
:-ms-input-placeholder {  color: #dddfe6; }

button:focus { outline:0; }

.button-cta {
    width: 100%;
    height: 65px;
    padding: 10px 20px;
    background: rgba(193,14,26,1);
    border: 1px solid rgba(193,14,26,1);
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #f4f5f9;
    z-index: -1;
    margin-top: 50px;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.button-cta:hover {
    background: rgb(168, 14, 26);
    border: 1px solid rgb(168, 14, 26);
}

.button-cta span {
    display: inline-block;
    position: relative;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.button-cta span:after {
    content: '→';
    color: #f4f5f9;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -40px;
}

.button-cta:hover span {
    padding-right: 45px;
}

.button-cta:hover span:after {
    opacity: 1;
    right: 0;
}

/*--------------------
Payment Notification
---------------------*/

.paid {
    z-index: 0;
    width: 560px;
    padding: 30px;
    text-align: center;
}

.paid > h2 {
    line-height: 1;
    margin-top: 10px;
    color: #3ac569;
}

/*--------------------
Payment cancelled
---------------------*/

.cancel {
    z-index: 0;
    width: 560px;
    padding: 30px;
    text-align: center;
}

.cancel > h2 {
    line-height: 1;
    margin-top: 10px;
    color: #dc0b0b;
}
